xml/schema/MapMessage.xsd

<?xml version="1.0" encoding="UTF-8"?>
<?xml-stylesheet type="text/xsl" href="https://www.obj-sys.com/webtools/xs3p.xsl"?>
<!-- This document was generated by the Objective Systems ASN2XSD Compiler
     (http://www.obj-sys.com).  Version: 7.1.0, Date: 28-Jun-2018. -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.obj-sys.com/MapMessage" targetNamespace="http://www.obj-sys.com/MapMessage" elementFormDefault="unqualified">
   <xsd:import namespace="http://www.obj-sys.com/v1.0/XMLSchema"
    schemaLocation="http://www.obj-sys.com/v1.0/XMLSchema/asn1.xsd"/>
   <xsd:element name="MessageFrame" type="MessageFrameType"/>
   <xsd:complexType name="MessageFrameType">
      <xsd:sequence>
         <xsd:element name="messageId" type="DSRCmsgID"/>
         <xsd:element name="value" type="MessageContent"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="MapData" type="MapDataType"/>
   <xsd:complexType name="MapDataType">
      <xsd:sequence>
         <xsd:element name="timeStamp" minOccurs="0" type="MinuteOfTheYear"/>
         <xsd:element name="msgIssueRevision" type="MsgCount"/>
         <xsd:element name="intersections" minOccurs="0" type="IntersectionGeometryList"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="LaneDirection" mixed="true">
      <xsd:sequence>
         <xsd:element name="ingressPath" minOccurs="0">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="egressPath" minOccurs="0">
            <xsd:complexType/>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="LaneSharing" mixed="true">
      <xsd:sequence>
         <xsd:element name="overlappingLaneDescriptionProvided" minOccurs="0">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="multipleLanesTreatedAsOneLane" minOccurs="0">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="otherNonMotorizedTrafficTypes" minOccurs="0">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="individualMotorizedVehicleTraffic" minOccurs="0">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="busVehicleTraffic" minOccurs="0">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="taxiVehicleTraffic" minOccurs="0">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="pedestriansTraffic" minOccurs="0">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="cyclistVehicleTraffic" minOccurs="0">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="trackedVehicleTraffic" minOccurs="0">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="pedestrianTraffic" minOccurs="0">
            <xsd:complexType/>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="LaneAttributes-Vehicle" mixed="true">
      <xsd:sequence>
         <xsd:element name="isVehicleRevocableLane" minOccurs="0">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="isVehicleFlyOverLane" minOccurs="0">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="hovLaneUseOnly" minOccurs="0">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="restrictedToBusUse" minOccurs="0">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="restrictedToTaxiUse" minOccurs="0">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="restrictedFromPublicUse" minOccurs="0">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="hasIRbeaconCoverage" minOccurs="0">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="permissionOnRequest" minOccurs="0">
            <xsd:complexType/>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="LaneAttributes-Crosswalk" mixed="true">
      <xsd:sequence>
         <xsd:element name="crosswalkRevocableLane" minOccurs="0">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="bicyleUseAllowed" minOccurs="0">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="isXwalkFlyOverLane" minOccurs="0">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="fixedCycleTime" minOccurs="0">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="biDirectionalCycleTimes" minOccurs="0">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="hasPushToWalkButton" minOccurs="0">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="audioSupport" minOccurs="0">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="rfSignalRequestPresent" minOccurs="0">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="unsignalizedSegmentsPresent" minOccurs="0">
            <xsd:complexType/>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="LaneAttributes-Bike" mixed="true">
      <xsd:sequence>
         <xsd:element name="bikeRevocableLane" minOccurs="0">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="pedestrianUseAllowed" minOccurs="0">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="isBikeFlyOverLane" minOccurs="0">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="fixedCycleTime" minOccurs="0">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="biDirectionalCycleTimes" minOccurs="0">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="isolatedByBarrier" minOccurs="0">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="unsignalizedSegmentsPresent" minOccurs="0">
            <xsd:complexType/>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="LaneAttributes-Sidewalk" mixed="true">
      <xsd:sequence>
         <xsd:element name="sidewalk-RevocableLane" minOccurs="0">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="bicyleUseAllowed" minOccurs="0">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="isSidewalkFlyOverLane" minOccurs="0">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="walkBikes" minOccurs="0">
            <xsd:complexType/>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="LaneAttributes-Barrier" mixed="true">
      <xsd:sequence>
         <xsd:element name="median-RevocableLane" minOccurs="0">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="median" minOccurs="0">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="whiteLineHashing" minOccurs="0">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="stripedLines" minOccurs="0">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="doubleStripedLines" minOccurs="0">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="trafficCones" minOccurs="0">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="constructionBarrier" minOccurs="0">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="trafficChannels" minOccurs="0">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="lowCurbs" minOccurs="0">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="highCurbs" minOccurs="0">
            <xsd:complexType/>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="LaneAttributes-Striping" mixed="true">
      <xsd:sequence>
         <xsd:element name="stripeToConnectingLanesRevocableLane" minOccurs="0">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="stripeDrawOnLeft" minOccurs="0">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="stripeDrawOnRight" minOccurs="0">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="stripeToConnectingLanesLeft" minOccurs="0">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="stripeToConnectingLanesRight" minOccurs="0">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="stripeToConnectingLanesAhead" minOccurs="0">
            <xsd:complexType/>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="LaneAttributes-TrackedVehicle" mixed="true">
      <xsd:sequence>
         <xsd:element name="spec-RevocableLane" minOccurs="0">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="spec-commuterRailRoadTrack" minOccurs="0">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="spec-lightRailRoadTrack" minOccurs="0">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="spec-heavyRailRoadTrack" minOccurs="0">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="spec-otherRailType" minOccurs="0">
            <xsd:complexType/>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="LaneAttributes-Parking" mixed="true">
      <xsd:sequence>
         <xsd:element name="parkingRevocableLane" minOccurs="0">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="parallelParkingInUse" minOccurs="0">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="headInParkingInUse" minOccurs="0">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="doNotParkZone" minOccurs="0">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="parkingForBusUse" minOccurs="0">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="parkingForTaxiUse" minOccurs="0">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="noPublicParkingUse" minOccurs="0">
            <xsd:complexType/>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="NodeAttributeXY">
      <xsd:choice>
         <xsd:element name="reserved">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="stopLine">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="roundedCapStyleA">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="roundedCapStyleB">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="mergePoint">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="divergePoint">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="downstreamStopLine">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="downstreamStartNode">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="closedToTraffic">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="safeIsland">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="curbPresentAtStepOff">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="hydrantPresent">
            <xsd:complexType/>
         </xsd:element>
      </xsd:choice>
   </xsd:complexType>
   <xsd:complexType name="SegmentAttributeXY">
      <xsd:choice>
         <xsd:element name="reserved">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="doNotBlock">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="whiteLine">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="mergingLaneLeft">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="mergingLaneRight">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="curbOnLeft">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="curbOnRight">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="loadingzoneOnLeft">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="loadingzoneOnRight">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="turnOutPointOnLeft">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="turnOutPointOnRight">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="adjacentParkingOnLeft">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="adjacentParkingOnRight">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="adjacentBikeLaneOnLeft">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="adjacentBikeLaneOnRight">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="sharedBikeLane">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="bikeBoxInFront">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="transitStopOnLeft">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="transitStopOnRight">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="transitStopInLane">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="sharedWithTrackedVehicle">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="safeIsland">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="lowCurbsPresent">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="rumbleStripPresent">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="audibleSignalingPresent">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="adaptiveTimingPresent">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="rfSignalRequestPresent">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="partialCurbIntrusion">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="taperToLeft">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="taperToRight">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="taperToCenterLine">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="parallelParking">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="headInParking">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="freeParking">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="timeRestrictionsOnParking">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="costToPark">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="midBlockCurbPresent">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="unEvenPavementPresent">
            <xsd:complexType/>
         </xsd:element>
      </xsd:choice>
   </xsd:complexType>
   <xsd:complexType name="SpeedLimitType">
      <xsd:choice>
         <xsd:element name="unknown">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="maxSpeedInSchoolZone">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="maxSpeedInSchoolZoneWhenChildrenArePresent">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="maxSpeedInConstructionZone">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="vehicleMinSpeed">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="vehicleMaxSpeed">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="vehicleNightMaxSpeed">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="truckMinSpeed">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="truckMaxSpeed">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="truckNightMaxSpeed">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="vehiclesWithTrailersMinSpeed">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="vehiclesWithTrailersMaxSpeed">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="vehiclesWithTrailersNightMaxSpeed">
            <xsd:complexType/>
         </xsd:element>
      </xsd:choice>
   </xsd:complexType>
   <xsd:simpleType name="Velocity">
      <xsd:restriction base="xsd:unsignedShort">
         <xsd:minInclusive value="0"/>
         <xsd:maxInclusive value="8191"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="MergeDivergeNodeAngle">
      <xsd:restriction base="xsd:short">
         <xsd:minInclusive value="-180"/>
         <xsd:maxInclusive value="180"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="RoadwayCrownAngle">
      <xsd:restriction base="xsd:byte"/>
   </xsd:simpleType>
   <xsd:simpleType name="DeltaAngle">
      <xsd:restriction base="xsd:short">
         <xsd:minInclusive value="-150"/>
         <xsd:maxInclusive value="150"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="Offset-B16">
      <xsd:restriction base="xsd:short"/>
   </xsd:simpleType>
   <xsd:simpleType name="Offset-B14">
      <xsd:restriction base="xsd:short">
         <xsd:minInclusive value="-8192"/>
         <xsd:maxInclusive value="8191"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="Offset-B13">
      <xsd:restriction base="xsd:short">
         <xsd:minInclusive value="-4096"/>
         <xsd:maxInclusive value="4095"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="Offset-B12">
      <xsd:restriction base="xsd:short">
         <xsd:minInclusive value="-2048"/>
         <xsd:maxInclusive value="2047"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="Offset-B11">
      <xsd:restriction base="xsd:short">
         <xsd:minInclusive value="-1024"/>
         <xsd:maxInclusive value="1023"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="Offset-B10">
      <xsd:restriction base="xsd:short">
         <xsd:minInclusive value="-512"/>
         <xsd:maxInclusive value="511"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="DrivenLineOffsetSm">
      <xsd:restriction base="xsd:short">
         <xsd:minInclusive value="-2047"/>
         <xsd:maxInclusive value="2047"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="DrivenLineOffsetLg">
      <xsd:restriction base="xsd:short">
         <xsd:minInclusive value="-32767"/>
         <xsd:maxInclusive value="32767"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="Angle">
      <xsd:restriction base="xsd:unsignedShort">
         <xsd:minInclusive value="0"/>
         <xsd:maxInclusive value="28800"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="Scale-B12">
      <xsd:restriction base="xsd:short">
         <xsd:minInclusive value="-2048"/>
         <xsd:maxInclusive value="2047"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="DSRCmsgID">
      <xsd:restriction base="xsd:unsignedShort">
         <xsd:minInclusive value="0"/>
         <xsd:maxInclusive value="32767"/>
      </xsd:restriction>
   </xsd:simpleType>
	<xsd:complexType name="MessageContent"> 
      <xsd:sequence> 
         <xsd:any processContents="lax" minOccurs="1" /> 
      </xsd:sequence> 
   </xsd:complexType>
   <xsd:simpleType name="LaneID">
      <xsd:restriction base="xsd:unsignedByte"/>
   </xsd:simpleType>
   <xsd:simpleType name="Latitude">
      <xsd:restriction base="xsd:int">
         <xsd:minInclusive value="-900000000"/>
         <xsd:maxInclusive value="900000001"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="Longitude">
      <xsd:restriction base="xsd:int">
         <xsd:minInclusive value="-1799999999"/>
         <xsd:maxInclusive value="1800000001"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="RoadRegulatorID">
      <xsd:restriction base="xsd:unsignedShort"/>
   </xsd:simpleType>
   <xsd:simpleType name="IntersectionID">
      <xsd:restriction base="xsd:unsignedShort"/>
   </xsd:simpleType>
   <xsd:simpleType name="DescriptiveName">
      <xsd:restriction base="xsd:string">
         <xsd:minLength value="1"/>
         <xsd:maxLength value="63"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="MinuteOfTheYear">
      <xsd:restriction base="xsd:unsignedInt">
         <xsd:minInclusive value="0"/>
         <xsd:maxInclusive value="527040"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="MsgCount">
      <xsd:restriction base="xsd:unsignedByte">
         <xsd:minInclusive value="0"/>
         <xsd:maxInclusive value="127"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="IntersectionReferenceID">
      <xsd:sequence>
         <xsd:element name="region" minOccurs="0" type="RoadRegulatorID"/>
         <xsd:element name="id" type="IntersectionID"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="Position3D">
      <xsd:sequence>
         <xsd:element name="lat" type="Latitude"/>
         <xsd:element name="long" type="Longitude"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="LaneTypeAttributes">
      <xsd:choice>
         <xsd:element name="vehicle" type="LaneAttributes-Vehicle"/>
         <xsd:element name="crosswalk" type="LaneAttributes-Crosswalk"/>
         <xsd:element name="bikeLane" type="LaneAttributes-Bike"/>
         <xsd:element name="sidewalk" type="LaneAttributes-Sidewalk"/>
         <xsd:element name="median" type="LaneAttributes-Barrier"/>
         <xsd:element name="striping" type="LaneAttributes-Striping"/>
         <xsd:element name="trackedVehicle" type="LaneAttributes-TrackedVehicle"/>
         <xsd:element name="parking" type="LaneAttributes-Parking"/>
      </xsd:choice>
   </xsd:complexType>
   <xsd:complexType name="LaneAttributes">
      <xsd:sequence>
         <xsd:element name="directionalUse" type="LaneDirection"/>
         <xsd:element name="sharedWith" type="LaneSharing"/>
         <xsd:element name="laneType" type="LaneTypeAttributes"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="Node-XY-20b">
      <xsd:sequence>
         <xsd:element name="x" type="Offset-B10"/>
         <xsd:element name="y" type="Offset-B10"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="Node-XY-22b">
      <xsd:sequence>
         <xsd:element name="x" type="Offset-B11"/>
         <xsd:element name="y" type="Offset-B11"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="Node-XY-24b">
      <xsd:sequence>
         <xsd:element name="x" type="Offset-B12"/>
         <xsd:element name="y" type="Offset-B12"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="Node-XY-26b">
      <xsd:sequence>
         <xsd:element name="x" type="Offset-B13"/>
         <xsd:element name="y" type="Offset-B13"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="Node-XY-28b">
      <xsd:sequence>
         <xsd:element name="x" type="Offset-B14"/>
         <xsd:element name="y" type="Offset-B14"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="Node-XY-32b">
      <xsd:sequence>
         <xsd:element name="x" type="Offset-B16"/>
         <xsd:element name="y" type="Offset-B16"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="Node-LLmD-64b">
      <xsd:sequence>
         <xsd:element name="lon" type="Longitude"/>
         <xsd:element name="lat" type="Latitude"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="NodeOffsetPointXY">
      <xsd:choice>
         <xsd:element name="node-XY1" type="Node-XY-20b"/>
         <xsd:element name="node-XY2" type="Node-XY-22b"/>
         <xsd:element name="node-XY3" type="Node-XY-24b"/>
         <xsd:element name="node-XY4" type="Node-XY-26b"/>
         <xsd:element name="node-XY5" type="Node-XY-28b"/>
         <xsd:element name="node-XY6" type="Node-XY-32b"/>
         <xsd:element name="node-LatLon" type="Node-LLmD-64b"/>
      </xsd:choice>
   </xsd:complexType>
   <xsd:complexType name="NodeAttributeXYList">
      <xsd:choice minOccurs="1" maxOccurs="8">
         <xsd:element name="reserved">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="stopLine">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="roundedCapStyleA">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="roundedCapStyleB">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="mergePoint">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="divergePoint">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="downstreamStopLine">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="downstreamStartNode">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="closedToTraffic">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="safeIsland">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="curbPresentAtStepOff">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="hydrantPresent">
            <xsd:complexType/>
         </xsd:element>
      </xsd:choice>
   </xsd:complexType>
   <xsd:complexType name="SegmentAttributeXYList">
      <xsd:choice minOccurs="1" maxOccurs="8">
         <xsd:element name="reserved">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="doNotBlock">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="whiteLine">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="mergingLaneLeft">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="mergingLaneRight">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="curbOnLeft">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="curbOnRight">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="loadingzoneOnLeft">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="loadingzoneOnRight">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="turnOutPointOnLeft">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="turnOutPointOnRight">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="adjacentParkingOnLeft">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="adjacentParkingOnRight">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="adjacentBikeLaneOnLeft">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="adjacentBikeLaneOnRight">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="sharedBikeLane">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="bikeBoxInFront">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="transitStopOnLeft">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="transitStopOnRight">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="transitStopInLane">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="sharedWithTrackedVehicle">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="safeIsland">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="lowCurbsPresent">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="rumbleStripPresent">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="audibleSignalingPresent">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="adaptiveTimingPresent">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="rfSignalRequestPresent">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="partialCurbIntrusion">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="taperToLeft">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="taperToRight">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="taperToCenterLine">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="parallelParking">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="headInParking">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="freeParking">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="timeRestrictionsOnParking">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="costToPark">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="midBlockCurbPresent">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="unEvenPavementPresent">
            <xsd:complexType/>
         </xsd:element>
      </xsd:choice>
   </xsd:complexType>
   <xsd:complexType name="RegulatorySpeedLimit">
      <xsd:sequence>
         <xsd:element name="type" type="SpeedLimitType"/>
         <xsd:element name="speed" type="Velocity"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="SpeedLimitList">
      <xsd:sequence minOccurs="1" maxOccurs="9">
         <xsd:element name="RegulatorySpeedLimit" type="RegulatorySpeedLimit"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="LaneDataAttribute">
      <xsd:choice>
         <xsd:element name="pathEndPointAngle" type="DeltaAngle"/>
         <xsd:element name="laneCrownPointCenter" type="RoadwayCrownAngle"/>
         <xsd:element name="laneCrownPointLeft" type="RoadwayCrownAngle"/>
         <xsd:element name="laneCrownPointRight" type="RoadwayCrownAngle"/>
         <xsd:element name="laneAngle" type="MergeDivergeNodeAngle"/>
         <xsd:element name="speedLimits" type="SpeedLimitList"/>
      </xsd:choice>
   </xsd:complexType>
   <xsd:complexType name="LaneDataAttributeList">
      <xsd:choice minOccurs="1" maxOccurs="8">
         <xsd:element name="pathEndPointAngle" type="DeltaAngle"/>
         <xsd:element name="laneCrownPointCenter" type="RoadwayCrownAngle"/>
         <xsd:element name="laneCrownPointLeft" type="RoadwayCrownAngle"/>
         <xsd:element name="laneCrownPointRight" type="RoadwayCrownAngle"/>
         <xsd:element name="laneAngle" type="MergeDivergeNodeAngle"/>
         <xsd:element name="speedLimits" type="SpeedLimitList"/>
      </xsd:choice>
   </xsd:complexType>
   <xsd:complexType name="NodeAttributeSetXY">
      <xsd:sequence>
         <xsd:element name="localNode" minOccurs="0" type="NodeAttributeXYList"/>
         <xsd:element name="disabled" minOccurs="0" type="SegmentAttributeXYList"/>
         <xsd:element name="enabled" minOccurs="0" type="SegmentAttributeXYList"/>
         <xsd:element name="data" minOccurs="0" type="LaneDataAttributeList"/>
         <xsd:element name="dWidth" minOccurs="0" type="Offset-B10"/>
         <xsd:element name="dElevation" minOccurs="0" type="Offset-B10"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="NodeXY">
      <xsd:sequence>
         <xsd:element name="delta" type="NodeOffsetPointXY"/>
         <xsd:element name="attributes" minOccurs="0" type="NodeAttributeSetXY"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="NodeSetXY">
      <xsd:sequence minOccurs="2" maxOccurs="63">
         <xsd:element name="NodeXY" type="NodeXY"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="ComputedLane">
      <xsd:sequence>
         <xsd:element name="referenceLaneId" type="LaneID"/>
         <xsd:element name="offsetXaxis" >
            <xsd:complexType>
               <xsd:choice>
                  <xsd:element name="small" type="DrivenLineOffsetSm"/>
                  <xsd:element name="large" type="DrivenLineOffsetLg"/>
               </xsd:choice>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="offsetYaxis" >
            <xsd:complexType>
               <xsd:choice>
                  <xsd:element name="small" type="DrivenLineOffsetSm"/>
                  <xsd:element name="large" type="DrivenLineOffsetLg"/>
               </xsd:choice>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="rotateXY" minOccurs="0" type="Angle"/>
         <xsd:element name="scaleXaxis" minOccurs="0" type="Scale-B12"/>
         <xsd:element name="scaleYaxis" minOccurs="0" type="Scale-B12"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="NodeListXY">
      <xsd:choice>
         <xsd:element name="nodes" type="NodeSetXY"/>
         <xsd:element name="computed" type="ComputedLane"/>
      </xsd:choice>
   </xsd:complexType>
   <xsd:complexType name="GenericLane">
      <xsd:sequence>
         <xsd:element name="laneID" type="LaneID"/>
         <xsd:element name="name" minOccurs="0" type="DescriptiveName"/>
         <xsd:element name="laneAttributes" type="LaneAttributes"/>
         <xsd:element name="nodeList" type="NodeListXY"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="LaneList">
      <xsd:sequence minOccurs="1" maxOccurs="255">
         <xsd:element name="GenericLane" type="GenericLane"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="IntersectionGeometry">
      <xsd:sequence>
         <xsd:element name="name" minOccurs="0" type="DescriptiveName"/>
         <xsd:element name="id" type="IntersectionReferenceID"/>
         <xsd:element name="revision" type="MsgCount"/>
         <xsd:element name="refPoint" type="Position3D"/>
         <xsd:element name="laneSet" type="LaneList"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="IntersectionGeometryList">
      <xsd:sequence minOccurs="1" maxOccurs="32">
         <xsd:element name="IntersectionGeometry" type="IntersectionGeometry"/>
      </xsd:sequence>
   </xsd:complexType>
</xsd:schema>
