xml/schema/SpatMessage.xsd

<?xml version="1.0" encoding="UTF-8"?>
<?xml-stylesheet type="text/xsl" href="https://www.obj-sys.com/webtools/xs3p.xsl"?>
<!-- This document was generated by the Objective Systems ASN2XSD Compiler
     (http://www.obj-sys.com).  Version: 7.1.0, Date: 28-Jun-2018. -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.obj-sys.com/SpatMessage" targetNamespace="http://www.obj-sys.com/SpatMessage" elementFormDefault="unqualified">
   <xsd:import namespace="http://www.obj-sys.com/v1.0/XMLSchema"
    schemaLocation="http://www.obj-sys.com/v1.0/XMLSchema/asn1.xsd"/>
   <xsd:element name="MessageFrame" type="MessageFrameType"/>
   <xsd:complexType name="MessageFrameType">
      <xsd:sequence>
         <xsd:element name="messageId" type="DSRCmsgID"/>
         <xsd:element name="value" type="MessageContent" />
      </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="SPAT" type="SPATType"/>
   <xsd:complexType name="SPATType">
      <xsd:sequence>
         <xsd:element name="timeStamp" minOccurs="0" type="MinuteOfTheYear"/>
         <xsd:element name="name" minOccurs="0" type="DescriptiveName"/>
         <xsd:element name="intersections" type="IntersectionStateList"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:simpleType name="PedestrianBicycleDetect">
      <xsd:restriction base="xsd:boolean"/>
   </xsd:simpleType>
   <xsd:simpleType name="WaitOnStopline">
      <xsd:restriction base="xsd:boolean"/>
   </xsd:simpleType>
   <xsd:simpleType name="LaneConnectionID">
      <xsd:restriction base="xsd:unsignedByte"/>
   </xsd:simpleType>
   <xsd:simpleType name="RestrictionClassID">
      <xsd:restriction base="xsd:unsignedByte"/>
   </xsd:simpleType>
   <xsd:simpleType name="ZoneLength">
      <xsd:restriction base="xsd:unsignedShort">
         <xsd:minInclusive value="0"/>
         <xsd:maxInclusive value="10000"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="SpeedConfidence">
      <xsd:choice>
         <xsd:element name="unavailable">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="prec100ms">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="prec10ms">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="prec5ms">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="prec1ms">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="prec0-1ms">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="prec0-05ms">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="prec0-01ms">
            <xsd:complexType/>
         </xsd:element>
      </xsd:choice>
   </xsd:complexType>
   <xsd:complexType name="AdvisorySpeedType">
      <xsd:choice>
         <xsd:element name="none">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="greenwave">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="ecoDrive">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="transit">
            <xsd:complexType/>
         </xsd:element>
      </xsd:choice>
   </xsd:complexType>
   <xsd:simpleType name="SpeedAdvice">
      <xsd:restriction base="xsd:unsignedShort">
         <xsd:minInclusive value="0"/>
         <xsd:maxInclusive value="500"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="TimeIntervalConfidence">
      <xsd:restriction base="xsd:unsignedByte">
         <xsd:minInclusive value="0"/>
         <xsd:maxInclusive value="15"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="TimeMark">
      <xsd:restriction base="xsd:unsignedShort">
         <xsd:minInclusive value="0"/>
         <xsd:maxInclusive value="36001"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="MovementPhaseState">
      <xsd:choice>
         <xsd:element name="unavailable">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="dark">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="stop-Then-Proceed">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="stop-And-Remain">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="pre-Movement">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="permissive-Movement-Allowed">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="protected-Movement-Allowed">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="permissive-clearance">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="protected-clearance">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="caution-Conflicting-Traffic">
            <xsd:complexType/>
         </xsd:element>
      </xsd:choice>
   </xsd:complexType>
   <xsd:simpleType name="SignalGroupID">
      <xsd:restriction base="xsd:unsignedByte"/>
   </xsd:simpleType>

   <xsd:simpleType name="LaneID">
      <xsd:restriction base="xsd:unsignedByte"/>
   </xsd:simpleType>

   <xsd:simpleType name="DSecond">
      <xsd:restriction base="xsd:unsignedShort"/>
   </xsd:simpleType>
   <xsd:complexType name="IntersectionStatusObject" mixed="true">
      <xsd:sequence>
         <xsd:element name="manualControlIsEnabled" minOccurs="0">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="stopTimeIsActivated" minOccurs="0">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="failureFlash" minOccurs="0">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="preemptIsActive" minOccurs="0">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="signalPriorityIsActive" minOccurs="0">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="fixedTimeOperation" minOccurs="0">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="trafficDependentOperation" minOccurs="0">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="standbyOperation" minOccurs="0">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="failureMode" minOccurs="0">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="off" minOccurs="0">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="recentMAPmessageUpdate" minOccurs="0">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="recentChangeInMAPassignedLanesIDsUsed" minOccurs="0">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="noValidMAPisAvailableAtThisTime" minOccurs="0">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="noValidSPATisAvailableAtThisTime" minOccurs="0">
            <xsd:complexType/>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:simpleType name="MinuteOfTheYear">
      <xsd:restriction base="xsd:unsignedInt">
         <xsd:minInclusive value="0"/>
         <xsd:maxInclusive value="527040"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="MsgCount">
      <xsd:restriction base="xsd:unsignedByte">
         <xsd:minInclusive value="0"/>
         <xsd:maxInclusive value="127"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="IntersectionID"><?xml version="1.0" encoding="UTF-8"?>
<?xml-stylesheet type="text/xsl" href="https://www.obj-sys.com/webtools/xs3p.xsl"?>
<!-- This document was generated by the Objective Systems ASN2XSD Compiler
     (http://www.obj-sys.com).  Version: 7.1.0, Date: 28-Jun-2018. -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.obj-sys.com/SpatMessage" targetNamespace="http://www.obj-sys.com/SpatMessage" elementFormDefault="unqualified">
   <xsd:import namespace="http://www.obj-sys.com/v1.0/XMLSchema"
    schemaLocation="http://www.obj-sys.com/v1.0/XMLSchema/asn1.xsd"/>
   <xsd:element name="MessageFrame" type="MessageFrameType"/>
   <xsd:complexType name="MessageFrameType">
      <xsd:sequence>
         <xsd:element name="messageId" type="DSRCmsgID"/>
         <xsd:element name="value" type="MessageContent" />
      </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="SPAT" type="SPATType"/>
   <xsd:complexType name="SPATType">
      <xsd:sequence>
         <xsd:element name="timeStamp" minOccurs="0" type="MinuteOfTheYear"/>
         <xsd:element name="name" minOccurs="0" type="DescriptiveName"/>
         <xsd:element name="intersections" type="IntersectionStateList"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:simpleType name="PedestrianBicycleDetect">
      <xsd:restriction base="xsd:boolean"/>
   </xsd:simpleType>
   <xsd:simpleType name="WaitOnStopline">
      <xsd:restriction base="xsd:boolean"/>
   </xsd:simpleType>
   <xsd:simpleType name="LaneConnectionID">
      <xsd:restriction base="xsd:unsignedByte"/>
   </xsd:simpleType>
   <xsd:simpleType name="RestrictionClassID">
      <xsd:restriction base="xsd:unsignedByte"/>
   </xsd:simpleType>
   <xsd:simpleType name="ZoneLength">
      <xsd:restriction base="xsd:unsignedShort">
         <xsd:minInclusive value="0"/>
         <xsd:maxInclusive value="10000"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="SpeedConfidence">
      <xsd:choice>
         <xsd:element name="unavailable">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="prec100ms">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="prec10ms">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="prec5ms">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="prec1ms">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="prec0-1ms">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="prec0-05ms">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="prec0-01ms">
            <xsd:complexType/>
         </xsd:element>
      </xsd:choice>
   </xsd:complexType>
   <xsd:complexType name="AdvisorySpeedType">
      <xsd:choice>
         <xsd:element name="none">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="greenwave">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="ecoDrive">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="transit">
            <xsd:complexType/>
         </xsd:element>
      </xsd:choice>
   </xsd:complexType>
   <xsd:simpleType name="SpeedAdvice">
      <xsd:restriction base="xsd:unsignedShort">
         <xsd:minInclusive value="0"/>
         <xsd:maxInclusive value="500"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="TimeIntervalConfidence">
      <xsd:restriction base="xsd:unsignedByte">
         <xsd:minInclusive value="0"/>
         <xsd:maxInclusive value="15"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="TimeMark">
      <xsd:restriction base="xsd:unsignedShort">
         <xsd:minInclusive value="0"/>
         <xsd:maxInclusive value="36001"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="MovementPhaseState">
      <xsd:choice>
         <xsd:element name="unavailable">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="dark">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="stop-Then-Proceed">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="stop-And-Remain">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="pre-Movement">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="permissive-Movement-Allowed">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="protected-Movement-Allowed">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="permissive-clearance">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="protected-clearance">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="caution-Conflicting-Traffic">
            <xsd:complexType/>
         </xsd:element>
      </xsd:choice>
   </xsd:complexType>
   <xsd:simpleType name="SignalGroupID">
      <xsd:restriction base="xsd:unsignedByte"/>
   </xsd:simpleType>

   <xsd:simpleType name="LaneID">
      <xsd:restriction base="xsd:unsignedByte"/>
   </xsd:simpleType>

   <xsd:simpleType name="DSecond">
      <xsd:restriction base="xsd:unsignedShort"/>
   </xsd:simpleType>
   <xsd:complexType name="IntersectionStatusObject" mixed="true">
      <xsd:sequence>
         <xsd:element name="manualControlIsEnabled" minOccurs="0">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="stopTimeIsActivated" minOccurs="0">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="failureFlash" minOccurs="0">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="preemptIsActive" minOccurs="0">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="signalPriorityIsActive" minOccurs="0">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="fixedTimeOperation" minOccurs="0">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="trafficDependentOperation" minOccurs="0">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="standbyOperation" minOccurs="0">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="failureMode" minOccurs="0">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="off" minOccurs="0">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="recentMAPmessageUpdate" minOccurs="0">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="recentChangeInMAPassignedLanesIDsUsed" minOccurs="0">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="noValidMAPisAvailableAtThisTime" minOccurs="0">
            <xsd:complexType/>
         </xsd:element>
         <xsd:element name="noValidSPATisAvailableAtThisTime" minOccurs="0">
            <xsd:complexType/>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:simpleType name="MinuteOfTheYear">
      <xsd:restriction base="xsd:unsignedInt">
         <xsd:minInclusive value="0"/>
         <xsd:maxInclusive value="527040"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="MsgCount">
      <xsd:restriction base="xsd:unsignedByte">
         <xsd:minInclusive value="0"/>
         <xsd:maxInclusive value="127"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="IntersectionID">
      <xsd:restriction base="xsd:unsignedShort"/>
   </xsd:simpleType>

   <xsd:simpleType name="RoadRegulatorID">
      <xsd:restriction base="xsd:unsignedShort"/>
   </xsd:simpleType>
   <xsd:simpleType name="DescriptiveName">
      <xsd:restriction base="xsd:string">
         <xsd:minLength value="1"/>
         <xsd:maxLength value="63"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="DSRCmsgID">
      <xsd:restriction base="xsd:unsignedShort">
         <xsd:minInclusive value="0"/>
         <xsd:maxInclusive value="32767"/>
      </xsd:restriction>
   </xsd:simpleType>
      <xsd:complexType name="MessageContent"> 
      <xsd:sequence> 
         <xsd:any processContents="lax" minOccurs="1" /> 
      </xsd:sequence> 
   </xsd:complexType>
   <xsd:complexType name="IntersectionReferenceID">
      <xsd:sequence>
         <xsd:element name="region" minOccurs="0" type="RoadRegulatorID"/>
         <xsd:element name="id" type="IntersectionID"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="EnabledLaneList">
      <xsd:sequence minOccurs="1" maxOccurs="16">
         <xsd:element name="LaneID" type="LaneID"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="TimeChangeDetails">
      <xsd:sequence>
         <xsd:element name="startTime" minOccurs="0" type="TimeMark"/>
         <xsd:element name="minEndTime" type="TimeMark"/>
         <xsd:element name="maxEndTime" minOccurs="0" type="TimeMark"/>
         <xsd:element name="likelyTime" minOccurs="0" type="TimeMark"/>
         <xsd:element name="confidence" minOccurs="0" type="TimeIntervalConfidence"/>
         <xsd:element name="nextTime" minOccurs="0" type="TimeMark"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="AdvisorySpeed">
      <xsd:sequence>
         <xsd:element name="type" type="AdvisorySpeedType"/>
         <xsd:element name="speed" minOccurs="0" type="SpeedAdvice"/>
         <xsd:element name="confidence" minOccurs="0" type="SpeedConfidence"/>
         <xsd:element name="distance" minOccurs="0" type="ZoneLength"/>
         <xsd:element name="class" minOccurs="0" type="RestrictionClassID"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="AdvisorySpeedList">
      <xsd:sequence minOccurs="1" maxOccurs="16">
         <xsd:element name="AdvisorySpeed" type="AdvisorySpeed"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="MovementEvent">
      <xsd:sequence>
         <xsd:element name="eventState" type="MovementPhaseState"/>
         <xsd:element name="timing" minOccurs="0" type="TimeChangeDetails"/>
         <xsd:element name="speeds" minOccurs="0" type="AdvisorySpeedList"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="MovementEventList">
      <xsd:sequence minOccurs="1" maxOccurs="16">
         <xsd:element name="MovementEvent" type="MovementEvent"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="ConnectionManeuverAssist">
      <xsd:sequence>
         <xsd:element name="connectionID" type="LaneConnectionID"/>
         <xsd:element name="queueLength" minOccurs="0" type="ZoneLength"/>
         <xsd:element name="availableStorageLength" minOccurs="0" type="ZoneLength"/>
         <xsd:element name="waitOnStop" minOccurs="0" type="WaitOnStopline"/>
         <xsd:element name="pedBicycleDetect" minOccurs="0" type="PedestrianBicycleDetect"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="ManeuverAssistList">
      <xsd:sequence minOccurs="1" maxOccurs="16">
         <xsd:element name="ConnectionManeuverAssist" type="ConnectionManeuverAssist"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="MovementState">
      <xsd:sequence>
         <xsd:element name="movementName" minOccurs="0" type="DescriptiveName"/>
         <xsd:element name="signalGroup" type="SignalGroupID"/>
         <xsd:element name="state-time-speed" type="MovementEventList"/>
         <xsd:element name="maneuverAssistList" minOccurs="0" type="ManeuverAssistList"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="MovementList">
      <xsd:sequence minOccurs="1" maxOccurs="255">
         <xsd:element name="MovementState" type="MovementState"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="IntersectionState">
      <xsd:sequence>
         <xsd:element name="name" minOccurs="0" type="DescriptiveName"/>
         <xsd:element name="id" type="IntersectionReferenceID"/>
         <xsd:element name="revision" type="MsgCount"/>
         <xsd:element name="status" type="IntersectionStatusObject"/>
         <xsd:element name="moy" minOccurs="0" type="MinuteOfTheYear"/>
         <xsd:element name="timeStamp" minOccurs="0" type="DSecond"/>
         <xsd:element name="enabledLanes" minOccurs="0" type="EnabledLaneList"/>
         <xsd:element name="states" type="MovementList"/>
         <xsd:element name="maneuverAssistList" minOccurs="0" type="ManeuverAssistList"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="IntersectionStateList">
      <xsd:sequence minOccurs="1" maxOccurs="32">
         <xsd:element name="IntersectionState" type="IntersectionState"/>
      </xsd:sequence>
   </xsd:complexType>
</xsd:schema>
      <xsd:restriction base="xsd:unsignedShort"/>
   </xsd:simpleType>

   <xsd:simpleType name="RoadRegulatorID">
      <xsd:restriction base="xsd:unsignedShort"/>
   </xsd:simpleType>
   <xsd:simpleType name="DescriptiveName">
      <xsd:restriction base="xsd:string">
         <xsd:minLength value="1"/>
         <xsd:maxLength value="63"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="DSRCmsgID">
      <xsd:restriction base="xsd:unsignedShort">
         <xsd:minInclusive value="0"/>
         <xsd:maxInclusive value="32767"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="MessageContent"> 
      <xsd:sequence> 
         <xsd:any processContents="lax" minOccurs="1" /> 
      </xsd:sequence> 
   </xsd:complexType>
   <xsd:complexType name="IntersectionReferenceID">
      <xsd:sequence>
         <xsd:element name="region" minOccurs="0" type="RoadRegulatorID"/>
         <xsd:element name="id" type="IntersectionID"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="EnabledLaneList">
      <xsd:sequence minOccurs="1" maxOccurs="16">
         <xsd:element name="LaneID" type="LaneID"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="TimeChangeDetails">
      <xsd:sequence>
         <xsd:element name="startTime" minOccurs="0" type="TimeMark"/>
         <xsd:element name="minEndTime" type="TimeMark"/>
         <xsd:element name="maxEndTime" minOccurs="0" type="TimeMark"/>
         <xsd:element name="likelyTime" minOccurs="0" type="TimeMark"/>
         <xsd:element name="confidence" minOccurs="0" type="TimeIntervalConfidence"/>
         <xsd:element name="nextTime" minOccurs="0" type="TimeMark"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="AdvisorySpeed">
      <xsd:sequence>
         <xsd:element name="type" type="AdvisorySpeedType"/>
         <xsd:element name="speed" minOccurs="0" type="SpeedAdvice"/>
         <xsd:element name="confidence" minOccurs="0" type="SpeedConfidence"/>
         <xsd:element name="distance" minOccurs="0" type="ZoneLength"/>
         <xsd:element name="class" minOccurs="0" type="RestrictionClassID"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="AdvisorySpeedList">
      <xsd:sequence minOccurs="1" maxOccurs="16">
         <xsd:element name="AdvisorySpeed" type="AdvisorySpeed"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="MovementEvent">
      <xsd:sequence>
         <xsd:element name="eventState" type="MovementPhaseState"/>
         <xsd:element name="timing" minOccurs="0" type="TimeChangeDetails"/>
         <xsd:element name="speeds" minOccurs="0" type="AdvisorySpeedList"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="MovementEventList">
      <xsd:sequence minOccurs="1" maxOccurs="16">
         <xsd:element name="MovementEvent" type="MovementEvent"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="ConnectionManeuverAssist">
      <xsd:sequence>
         <xsd:element name="connectionID" type="LaneConnectionID"/>
         <xsd:element name="queueLength" minOccurs="0" type="ZoneLength"/>
         <xsd:element name="availableStorageLength" minOccurs="0" type="ZoneLength"/>
         <xsd:element name="waitOnStop" minOccurs="0" type="WaitOnStopline"/>
         <xsd:element name="pedBicycleDetect" minOccurs="0" type="PedestrianBicycleDetect"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="ManeuverAssistList">
      <xsd:sequence minOccurs="1" maxOccurs="16">
         <xsd:element name="ConnectionManeuverAssist" type="ConnectionManeuverAssist"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="MovementState">
      <xsd:sequence>
         <xsd:element name="movementName" minOccurs="0" type="DescriptiveName"/>
         <xsd:element name="signalGroup" type="SignalGroupID"/>
         <xsd:element name="state-time-speed" type="MovementEventList"/>
         <xsd:element name="maneuverAssistList" minOccurs="0" type="ManeuverAssistList"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="MovementList">
      <xsd:sequence minOccurs="1" maxOccurs="255">
         <xsd:element name="MovementState" type="MovementState"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="IntersectionState">
      <xsd:sequence>
         <xsd:element name="name" minOccurs="0" type="DescriptiveName"/>
         <xsd:element name="id" type="IntersectionReferenceID"/>
         <xsd:element name="revision" type="MsgCount"/>
         <xsd:element name="status" type="IntersectionStatusObject"/>
         <xsd:element name="moy" minOccurs="0" type="MinuteOfTheYear"/>
         <xsd:element name="timeStamp" minOccurs="0" type="DSecond"/>
         <xsd:element name="enabledLanes" minOccurs="0" type="EnabledLaneList"/>
         <xsd:element name="states" type="MovementList"/>
         <xsd:element name="maneuverAssistList" minOccurs="0" type="ManeuverAssistList"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="IntersectionStateList">
      <xsd:sequence minOccurs="1" maxOccurs="32">
         <xsd:element name="IntersectionState" type="IntersectionState"/>
      </xsd:sequence>
   </xsd:complexType>
</xsd:schema>
